[Desktop Entry]
Encoding=UTF-8
Version=2.1
Name=PixPack
GenericName=PixPack Photo Organiser
Exec=python3 /opt/pixpack/pixpack.py
Terminal=false
Icon[en_US]=/opt/pixpack/img/icon.ico
Type=Application
Categories=Application;Graphics;
Comment[en_US]=Photo Organiser
Comment[tr_TR]=Resim Düzenleyici
