[Desktop Entry]
Encoding=UTF-8
Version=2.1
Name=PixPack
GenericName=PixPack Photo Organiser
Exec=/opt/pixpack/pixpack.py
Terminal=false
Icon=/opt/pixpack/img/icon.ico
Type=Application
Categories=Application;Graphics;
Comment[en_US]=Photo Organiser
Comment[tr_TR]=Resim Düzenleyici
Keywords[en_US]=photo;organize;edit;picture;
Keywords[tr_TR]=resim;düzenleme;fotoğraf;
